In [ ]:
print("Diberikan data list berikut:")
data_buah = ["apel","mangga","jeruk","anggur","pisang"]
print(data_buah)

print("\na. Menambahkan 'semangka' di akhir list")
data_buah.append("semangka")
print(f"Data setelah ditambah: {data_buah}")

print("\nb. Menyisipkan 'durian' di antara 'jeruk' dan 'anggur'")
data_buah.insert(3,"durian")
print(print(f"Data setelah ditambah: {data_buah}"))

print("\nc. Menghapus 'mangga' dari list")
data_buah.remove("mangga")
print(print(f"Data setelah dihapus: {data_buah}"))

print("\nd. Mengubah 'pisang' menjadi 'nanas'")
data_buah[4] = "nanas"
print(print(f"Data setelah diubah: {data_buah}"))

print("\ne. Menampilkan 3 buah pertama")
data = data_buah[:3]
print(f"Tiga buah pertama: {data}")

Diberikan data list berikut:
['apel', 'mangga', 'jeruk', 'anggur', 'pisang']

a. Menambahkan 'semangka' di akhir list
Data setelah ditambah: ['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']

b. Menyisipkan 'durian' di antara 'jeruk' dan 'anggur'
Data setelah ditambah: ['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
None

c. Menghapus 'mangga' dari list
Data setelah dihapus: ['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
None

d. Mengubah 'pisang' menjadi 'nanas'
Data setelah diubah: ['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']
None

e. Menampilkan 3 buah pertama
Tiga buah pertama: ['apel', 'jeruk', 'durian']

In [ ]:
print("Diberikan list berikut:")
data_angka = [45,12,78,23,56,89,34]
print(data_angka)

print("\na. Urutkan secara ascending")
data_angka.sort()
print(f"Data angka ascending = {data_angka}")

print("\nb. Urutkan secara descending")
data_angka.reverse()
print(f"Data angka descending = {data_angka}")

Diberikan list berikut:
[45, 12, 78, 23, 56, 89, 34]

a. Urutkan secara ascending
Data angka ascending = [12, 23, 34, 45, 56, 78, 89]

b. Urutkan secara descending
Data angka descending = [89, 78, 56, 45, 34, 23, 12]